.header {
    margin-top: 20px;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    position: relative;
    left: -14px;
}
.logo {
    width: 40px;
    height: auto;
    position: relative;
    bottom: 32px;
    left: 62px;
}

