.Choose {
    font-weight: 400;
    font-size: 14px;
    text-transform: lowercase;
    font-family: DM Sans;
    
}

select {
    border: 0.615px solid #333;
    width: 102.5px;
    height: 30px;
    margin-left: 55px;
    margin-bottom: 20px;
}